.card-container {
  width: 90%;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 50px 80px;
  
}
.card-container:first-child {
  margin-top: 4em;
}
.loading-container {
  margin: 0 auto;
}
.box-load {
  display: flex;
  justify-content: center;
  height: 100px;
}
.load-poke {
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #ffe100d2;
  border: 2px solid #414141;
  transition: 0.3s;
}
.load-poke:hover {
  background-color: #ffc800d2;
}
@keyframes slideInUp {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.card-container li {
  animation: slideInUp 0.7s ease-in-out;
}
